{
    "presets" : [
        [
            "env",
            {
                "forceAllTransforms" : true,
                "modules"            : "commonjs",
                "spec"               : true,
                "targets"            : {
                    "browsers" : [
                        "last 2 versions",
                        "not ie <= 8"
                    ]
                }
            }
        ]
    ],
    "plugins" : [
        "transform-class-properties",
        "transform-runtime"
    ]
}
